$primary: #00dadd;
$text: #272d4e;
$success: #49da6e;
$black: #2c3039;
$gray: #b7c2d3;
$graylight: #e9ecf3;
$error: #ed5f5f;

// COLORS
.primary-color {
  color: #00dadd !important;
}
.danger-color {
  color: #ed5f5f !important;
}
.success-color {
  color: #49da6e !important;
}
